---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
	<!-- non-hydrated Greeting component. -->
	<Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
	<!-- hydrated Greeting component. -->
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>